.canvas {
  position: fixed;
  top: 0;
  left: 0;
}

.analyserSizeSelector, .analyserSmoothingSelector {
  position: fixed;
  bottom: 0;
  z-index: 10;
  color: white;
  display: flex;
  padding: 16px;
  max-width: 50%;
  overflow-x: scroll;
  box-sizing: border-box;
}

.analyserSizeSelector {
  left: 0;
}

.analyserSmoothingSelector {
  right: 0;
}

.analyserSizeSelector > button, .analyserSmoothingSelector > button {
  margin: 0 12px;
  background: none;
  border: none;
  padding: 16px;
  border-radius: 8px;
  transition: all 0.5s;
}

.analyserSizeSelector > button.active, .analyserSmoothingSelector > button.active {
  color: white;
  background-color: rgba(255, 255, 255, 0.3);
}

.volumeControl {
  z-index: 10;
  position: fixed;
  bottom: 20%;
  right: 32px;
  height: 40%;
  width: 16px;
  -webkit-appearance: slider-vertical;
}

.topBar {
  position: fixed;
  top: 48px;
  left: 0;
  right: 0;
  z-index: 10;
  display: flex;
  padding: 0 48px 0 24px;
}

.loading {
  animation-name: spin;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }
}

.topBar * {
  font-family: Montserrat;
  font-size: 16px;
  text-align: center;
  color: white;
}

.topBar > * {
  border-radius: 8px;
  padding: 16px 24px;
  margin-right: 24px;
  border: none;
}

.topBar > *:last-child {
  margin-right: 0;
}

.url {
  flex: 1;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 0;
  display: flex;
}

.url > * {
  vertical-align: middle;
  padding: 16px 24px;
}

.urlInput {
  display: block;
  border: none;
  background: none;
  flex: 1;
}

.message {
  width: 130px;
}

.shuffle {
  background: rgba(0, 0, 255, 0.3);
}

.playPause {
  font-family: Montserrat;
  width: 100px;
}

.playPause:disabled {
  background-color: rgba(0, 0, 0, 0.3);
  color: gray;
}

.paused {
  background-color: rgba(0, 150, 0, 0.3);
}

.playing {
  background-color: rgba(150, 0, 0, 0.3);
}
